openapi: 3.0.0
info:
  title: Copus Network API
  description: Human-curated content discovery platform - The Internet Treasure Map
  version: 1.0.0
servers:
  - url: https://copus.network
    description: Production server

paths:
  /api/search:
    get:
      operationId: searchArticles
      summary: Search curated content
      description: Search for human-curated content recommendations by topic. Returns JSON-LD formatted results.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [Technology, Art, Sports, Life]
          description: Filter by category
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: Search results in JSON-LD format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'

  /work/{articleId}:
    get:
      operationId: getArticle
      summary: Get a curated article
      description: Retrieve a human-curated content recommendation with metadata
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
          description: The unique article identifier (UUID)
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json]
          description: Set to 'json' to get structured JSON-LD data instead of HTML
      responses:
        '200':
          description: Article data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
            text/html:
              schema:
                type: string
                description: HTML page with SSR content readable by text extractors

  /sitemap.xml:
    get:
      operationId: getSitemap
      summary: Get sitemap with all articles
      description: XML sitemap listing all curated content on Copus
      responses:
        '200':
          description: XML sitemap
          content:
            application/xml:
              schema:
                type: string

components:
  schemas:
    Article:
      type: object
      properties:
        '@context':
          type: string
          example: https://schema.org
        '@type':
          type: string
          example: Article
        id:
          type: string
          description: Article UUID
        url:
          type: string
          format: uri
          description: Copus article URL
        name:
          type: string
          description: Article title
        headline:
          type: string
          description: Article headline
        description:
          type: string
          description: AI-generated description
        keywords:
          type: array
          items:
            type: string
          description: SEO keywords
        author:
          $ref: '#/components/schemas/Author'
        source:
          $ref: '#/components/schemas/Source'
        curation:
          $ref: '#/components/schemas/Curation'
        aeoData:
          $ref: '#/components/schemas/AEOData'
        engagement:
          $ref: '#/components/schemas/Engagement'
        datePublished:
          type: string
          format: date-time
        dateModified:
          type: string
          format: date-time

    Author:
      type: object
      properties:
        '@type':
          type: string
          example: Person
        name:
          type: string
        url:
          type: string
          format: uri
        credibility:
          type: string
          description: Why this curator's recommendation matters

    Source:
      type: object
      properties:
        originalUrl:
          type: string
          format: uri
          description: The original content being curated
        domain:
          type: string
          description: Domain of the original source

    Curation:
      type: object
      properties:
        curatorNote:
          type: string
          description: Human-written recommendation explaining value
        keyTakeaways:
          type: array
          items:
            type: string
          description: Main points from the content
        tags:
          type: array
          items:
            type: string

    AEOData:
      type: object
      description: AI Engine Optimization data
      properties:
        facts:
          type: array
          items:
            type: string
          description: Verifiable statements from the content
        targetAudience:
          type: string
          description: Who benefits from this content
        problemSolved:
          type: string
          description: What issue this content addresses
        uniqueValue:
          type: string
          description: What makes this content special

    Engagement:
      type: object
      properties:
        viewCount:
          type: integer
        collectedInTreasuries:
          type: integer
          description: Number of users who saved this to their treasury
        commentCount:
          type: integer

    SearchResults:
      type: object
      properties:
        '@context':
          type: string
          example: https://schema.org
        '@type':
          type: string
          example: SearchResultsPage
        query:
          type: string
          description: The search query
        totalResults:
          type: integer
          description: Total number of matching results
        numberOfItems:
          type: integer
          description: Number of items in this response
        itemListElement:
          type: array
          items:
            type: object
            properties:
              '@type':
                type: string
                example: ListItem
              position:
                type: integer
              item:
                type: object
                properties:
                  '@type':
                    type: string
                    example: Article
                  identifier:
                    type: string
                  url:
                    type: string
                    format: uri
                  name:
                    type: string
                  description:
                    type: string
                  originalSource:
                    type: string
                    format: uri
                  category:
                    type: string
                  keywords:
                    type: array
                    items:
                      type: string
                  jsonEndpoint:
                    type: string
                    format: uri
                    description: URL to get full structured data for this article
        pagination:
          type: object
          properties:
            offset:
              type: integer
            limit:
              type: integer
            hasMore:
              type: boolean
            nextPage:
              type: string
              format: uri
